/*HOME*/
.home-container {
  margin: 0 auto;
  width: 100%;
}
.home-event-group-container {
  display: flex;
  margin-bottom: 100px;
}
.image-home {
  width: 1600px;
}
.group-links {
  text-align: right;
  margin-left: 80px;
}
.event-links {
  margin-right: 80px;
}
.subheading-container {
  display: flex;
  justify-content: space-around;
}
.description-container {
  width: 800px;
  text-align: center;

}
.featuredEvents-container {
  width: 500px;

}
  /*HEADER*/

.logo{
  width: 300px;
  margin: 10px;
}

/*EVENT PAGE*/
.GetEvents-container {
  margin: 0 auto;
  width: 1000px;
}
.each-event-container {
  display: flex;
  flex-wrap: wrap;
}

.each-event {
  border: 5px solid #3f51b5;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
  margin: 30px;
  background-color: rgb(177, 199, 245);
  height: 400px;
  overflow-y: auto;

}
.location-date-event {
  display: flex;
}
.event-location {
  width:50%;
}
.event-date {
  text-align: right;
  width:50%;
}
.GetEvents-filter {

  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;

}
.button-filter-create-event {
  display: flex;
  align-items: center;

}


/*EVENT DETAILS*/
.image-map,
.name-age{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.event-details-card2{
  background-color: rgb(177, 199, 245)!important;
  border: 5px solid #3f51b5;
  border-radius: 10px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px!important;
}


/*DISPLAY GROUPS*/
.displayGroups-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.displayGroups-placeholder{
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 600px; */
padding: 10px;
}
.button-filter-create-group {
  display: flex;
  align-items: center;

}
.GetGroups-filter {

  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;

}
.each-group {
  border: 5px solid #3f51b5;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
  margin: 30px;
  background-color: rgb(177, 199, 245);
  height: 400px;
  overflow-y: auto;

}
.each-group-container {
  display: flex;
  flex-wrap: wrap;
}
.group-details-card2{
  background-color: rgb(177, 199, 245)!important;
  border: 5px solid #3f51b5;
  border-radius: 10px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px!important;
}
/*CREATE GROUPS*/
.form-container form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container{
  margin: 0 auto;
  padding: 10px;
}

.form-container h1{
  text-align: center;
}

.input-container{
  padding-bottom: 20px;
}
/*CREATE GROUP BOTTOM*/
.go {
  margin-top: 10px;
  display: block;
  width: 150px;

  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;

  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}
.go span {
  position: relative;
  z-index: 2;
}
.go:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3f51b5;
  transition: all .35s;
}
.go:hover{
  color: #fff;
  
}
.go:hover:after{
  width: 100%;

}


/*FOOTER*/
.footer-container {
  background-color: #3f51b5;
  height: 63px;
  width: 100%;
  color: white;
  position: relative;
  bottom: 0;
}
.createGroup {
  margin-bottom: 135px;
}